.market {
  padding: 15px;
  border-bottom: 2px solid gray;

  &-title {
    display: block;
    padding-bottom: 5px;
  }
}

.selection {
  outline: none;
  background: none;
  border: 1px solid gray;
  padding: 5px 30px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;

  &_selected {
    background: green;
  }
}
